.container
  .row.blog-header.d-flex.align-items-center.justify-content-between.ml-mb-5.mr-mb-5
    .R-logo.col-2 R
    .col-xs-4.rompuu-logo.text-light.d-flex.align-items-end
      .com.text-light rompuu.com
      .registration ™
.navbar.mlb-font.d-inlineflex.justify-content-around
  %a.text-light{:href => "#"} Top
  %a.text-light{:href => "#"} Album
  %a.text-light{:href => "#"} Team
  %a.text-light{:href => "#"} Stats
  %a.text-light{:href => "/contacts/new"} Contact