.row.m-0
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 27
      .col-6
        %strong.font-09 外野手 / 右右  / 40歳
        %strong.h4.mt-2.name.d-block 青木達也
        %span.font-07.text-muted.d-block 監督 / スカウト 
        %span.font-07.text-muted.d-block 安北中(サッカー部)
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 25
      .col-6
        %strong.font-09 外野手 / 右右  / 26歳
        %strong.h4.mt-2.name.d-block 山口晋太郎
        %span.font-07.text-muted.d-block 柔道整復師
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 66
      .col-6
        %strong.font-09 外野手 / 左左  / 29歳
        %strong.h4.mt-2.name.d-block 板倉尉之
        %span.font-07.text-muted.d-block  料理長
        %span.font-07.text-muted.d-block 安南中→安城学園
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 88
      .col-6
        %strong.font-09 外野手 / 右右  / 33歳
        %strong.h4.mt-2.name.d-block 下地慶昇
        %span.font-07.text-muted.d-block  にんじんしりしり/ むっつり 
        %span.font-07.text-muted.d-block 