.row.m-0
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 1
      .col-6
        %strong.font-09 投手 / 右右  / 19歳
        %strong.h4.mt-2.name.d-block RAIKI
        %span.font-07.text-muted.d-block 切込隊長 /  ムードメーカー
        %span.font-07.text-muted.d-block 安南中(安城シニア)→誉高校
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 10
      .col-6
        %strong.font-09 投手 / 右右  / 25歳
        %strong.h4.mt-2.name.d-block キャプテン
        %span.font-07.text-muted.d-block キャプテン / 釣り /  エンジニア
        %span.font-07.text-muted.d-block 安南中→安城東→南山大(ソフトボール部)