.row.m-0
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 
      .col-6
        %strong.font-09  / 右右  
        %strong.h4.mt-2.name.d-block 上田かほり
        %span.font-07.text-muted.d-block テコンドー /  撮影係
        %span.font-07.text-muted.d-block 