.row.m-0
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 
      .col-6
        %strong.font-09  撮影係 / 右右  
        %strong.h4.mt-2.name.d-block かほりん
        %span.font-07.text-muted.d-block 格闘家 /マッサージ師
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'R-logo.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 
      .col-6
        %strong.font-09  スコアラー / 右左
        %strong.h4.mt-2.name.d-block あーちゃん
        %span.font-07.text-muted.d-block 格闘家 / 保育士さん
        %span.font-07.text-muted.d-block 
  .col-md-6
    .row.align-items-center.border-bottom.p-2
      = image_tag 'ayu.jpg', class: "col-4"
      .col-2.player-num.h1.text-narrow.p-0.text-center 
      .col-6
        %strong.font-09  マネージャー / 右右
        %strong.h4.mt-2.name.d-block あゆちゃん
        %span.font-07.text-muted.d-block  保育士の卵ちゃん
        %span.font-07.text-muted.d-block 