#carouselOption1.carousel.slide{"data-ride" => "carousel"}
  / インジケータの設定
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carouselOption1"}
    %li{"data-slide-to" => "1", "data-target" => "#carouselOption1"}
    %li{"data-slide-to" => "2", "data-target" => "#carouselOption1"}
  / スライドさせる画像の設定
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{:alt => "第1スライド", "data-src" => "images/tsune.jpg"}/
      .carousel-caption.d-none.d-md-block
        %h5 第1スライド見出し
        %p スライドイメージの紹介
    .carousel-item
      %img.d-block.w-100{:alt => "第2スライド", "data-src" => "..."}/
      .carousel-caption.d-none.d-md-block
        %h5 第2スライド見出し
        %p スライドイメージの紹介
    .carousel-item
      %img.d-block.w-100{:alt => "第3スライド", "data-src" => "..."}/
      .carousel-caption.d-none.d-md-block
        %h5 第3スライド見出し
        %p スライドイメージの紹介
  / スライドコントロールの設定
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselOption1", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only 前へ
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselOption1", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only 次へ
