.container
  .py-5.text-center
    = image_tag 'cap.jpg', class: "col-6 h-50"
    %h2 送信完了しました！
    %p.lead お問合せありがとうございました。(龍風一同)
    %button.btn.btn-default{:onclick => "location.href='/'", :type => "button"} 戻る
  


