@font-face {
  font-family: "Graceland Personal Use.ttf";
  src: url('Fonts/Graceland Personal Use.ttf') format('truetype');
  font-family: "MLBBLOCK";
  src: font-url('MLBBLOCK.TTF') format('truetype');
  font-family: "CANDY INC.";
  src: url('Fonts/CANDY___.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
.carousel{
  width:100%;  /*サイズ指定*/
  margin:auto;
}
.body{
  font-size: 14px;
}
.com {
  border-radius: 8px;
  border: 1px solid;
  font-size: 20px;
  padding: 2px;
  font-family: 'Century Gothic';
  font-weight: bold;
}
.carousel img{
  width:100%;
}
.bg-black{
  background-color: #000;
}
.bg-ivory{
  background-color: #ececec;
}
.initial-header {
  height: 30px;
}
.blog-header{
  height: 80px;
}
.color-logo {
  color: #f6f134;
  -webkit-text-stroke: 1px #000;
  font-family: "Graceland Personal Use";
}

.nav-scroller {
  background: #BA0021;
}

.mlb-font {
  color: #333333;
  font-size: 14px;
  font-family: 'Staatliches', cursive;
}

.domain {
  font-family: monospace;
}

.navbar{
  background-color: #862633
}

.nav-link{
  color: #000;
}
.nav-link:hover{
  color: #000;
  opacity: 0.7 ;
}
.registration{
  transform:scale(0.5);
}

@media (max-width:  575.98px) {
  .nave-tabs-xs{
    font-size: 10px;
  }
  .nav-link-xs{
    display: block !important;
    padding: .5rem 0.3rem !important;
  }
 }

  .nav-link-xs{
      display: block !important;
      padding: .5rem 0.3rem !important;
    }

.player-num{
  font-family: "Oswald";
}
.text-narrow{
  transform: scale(0.9, 1);
}
.font-09{
  font-size: 0.9rem;
}
.font-07{
  font-size: 0.7rem;
}
 