.initial-header {
  background-color: #ececec;
}

.color-logo {
  color: #f6f134;
  text-shadow: 5px 5px 0 #11a733, -5px -5px 0 #11a733, -5px 5px 0 #11a733, 5px -5px  #11a733, 0px 5px 0 #11a733,  0 -5px 0 #11a733, -5px 0 0 #11a733, 5px 0 0 #11a733;
}

.nav-scroller {
  background: #BA0021;
}

.MLB-font {
  font-family: "mlb-primary","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #333333;
  font-size: 11px;
  font-weight: 450;
  height: 25px;
  width: 300px;
}

.domain {
  font-family: monospace;
}
